<%= simple_form_for bill do |form| %>
  <%= form.error_notification %>

  <%= form.association :appointment %>
  <%= form.input :is_paid %>
  <%#= form.collection_check_boxes :bill_item_ids, BillItem.all, :id, :name %>
  <%#= form.input :bill_item_ids, as: :check_boxes, collection: BillItem.all %>
  <%= form.association :bill_items, as: :check_boxes %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
