<%= form_with(model: bill, local: true) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :appointment_id %>
    <%= form.collection_select :appointment_id, Appointment.all, :id, :itself %>
  </div>

  <div class="field">
    <%= form.label :bill_items %>
    <%= form.collection_check_boxes :bill_item_ids, BillItem.all, :id, :name do |b|
      b.label(:"data-value" => b.value) { b.check_box + b.text }
    end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
