<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bill_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bill_item.price %>
</p>

<%= link_to 'Edit', edit_bill_item_path(@bill_item) %> |
<%= link_to 'Back', bill_items_path %>
