<%= simple_form_for patient do |form| %>

  <%= form.error_notification %>

  <%= form.input :name %>
  <%= form.input :surname %>
  <%= form.input :pesel %>
  <%= form.input :avatar %>

  <%= form.fields_for :address do |ff| %>
    <%= render 'addresses/form', form: ff %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
