<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>

<div class="field">
  <%= f.label :street_name %>
  <%= f.text_field :street_name %>
</div>

<div class="field">
  <%= f.label :street_no %>
  <%= f.text_field :street_no %>
</div>

<div class="field">
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>
</div>